
<div  style="font-weight: bold; margin-bottom: 5px;">
    Cliente:
    
        <p-autoComplete [(ngModel)]="selectedCliente" [suggestions]="filteredClientes" (completeMethod)="filterCountry($event)" field="name" 
        [dropdown]="true" field="nombreComercial"  [size]="120" [forceSelection]="true">
            <ng-template let-cliente pTemplate="item">
                <div class="country-item">
                    <div>{{cliente.nombreComercial}}</div>
                </div>
            </ng-template>
        </p-autoComplete>

</div>
