<div class="grid">
    <div class="card" style="width: 100%;">
        
        <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <i class="pi pi-fw pi-pencil"></i>
                    <span>Nueva Cotización</span>
                </ng-template>
                <app-autocomplete-cliente></app-autocomplete-cliente>
                <p-fieldset legend=" Datos del producto" >
                      <div class="grid p-fluid">
                        <div class="col-12 md:col-4">
                            Familia:
                        </div>
                        
                        <div class="col-12 md:col-4">
                            Linea:
                        </div>
                                
                        <div class="col-12 md:col-4">
                          Categoria:
                        </div>
                    </div>

                      <div class="grid p-fluid">
                        <div class="col-12 md:col-4">
                            <p-dropdown [options]="especialidades" [(ngModel)]="selectedEspecialidad" optionLabel="descripcion" (onChange)="seleccionarEspecialidad($event)"
                                  [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione una familia">
                                <ng-template pTemplate="selectedItem">
                                    <div class="country-item country-item-value"  *ngIf="selectedEspecialidad">
                                        <div>{{selectedEspecialidad.descripcion}}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-especialidad pTemplate="item">
                                    <div class="especialidad-item">
                                        <div>{{especialidad.descripcion}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        
                        <div class="col-12 md:col-4">
                            <p-dropdown [options]="lineas" [(ngModel)]="producto.linea" optionLabel="descripcion" (onChange)="seleccionarLinea($event)"
                              [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione una linea">
                              <ng-template pTemplate="selectedItem">
                                  <div class="country-item country-item-value"  *ngIf="producto.linea">
                                      <div>{{producto.linea.descripcion}}</div>
                                  </div>
                              </ng-template>
                              <ng-template let-linea pTemplate="item">
                                  <div class="linea-item">
                                      <div>{{linea.descripcion}}</div>
                                  </div>
                              </ng-template>
                          </p-dropdown>
                        </div>
                                
                        <div class="col-12 md:col-4">
                              <p-dropdown [options]="categorias" [(ngModel)]="producto.categoria" optionLabel="descripcion" (onChange)="seleccionarCategoria($event)"
                                [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione una categoria">
                                <ng-template pTemplate="selectedItem">
                                    <div class="country-item country-item-value"  *ngIf="producto.categoria">
                                        <div>{{producto.categoria.descripcion}}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-categoria pTemplate="item">
                                    <div class="categoria-item">
                                        <div>{{categoria.descripcion}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="grid p-fluid">
                      <div class="col-12 md:col-6">
                        Descripcion Producto Interno:
                      </div>
                      <div class="col-12 md:col-6">
                        Descripcion Producto Externo (Doc. Cliente):
                      </div>
                    </div>
                   
                    <div class="grid p-fluid">
                      <div class="col-12 md:col-6">
                        <textarea rows="3" cols="30" pInputTextarea [(ngModel)]="producto.descripcion"></textarea>
                      </div>
                      <div class="col-12 md:col-6">
                        <textarea rows="3" cols="30" pInputTextarea [(ngModel)]="producto.descripcionComercial"></textarea>
                      </div>
                    </div>

                    <div class="grid p-fluid">
                      <div class="col-12 md:col-3">
                        Unidad Kardex: 
                      </div>
                      <div class="col-12 md:col-3">
                        Peso Calc aprox (x 1 {{producto.unidad!=null ? producto.unidad.abreviatura: ''}}): 
                      </div>
                  </div>


                  <div class="grid p-fluid">
                    <div class="col-12 md:col-3">
                      <p-dropdown [options]="unidades" [(ngModel)]="producto.unidad" optionLabel="descripcion" (onChange)="crearProducto()"
                            [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione una unidad">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value"  *ngIf="producto.unidad">
                                    <div>{{producto.unidad.descripcion}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-unidad pTemplate="item">
                                <div class="unidad-item">
                                    <div>{{unidad.descripcion}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="col-12 md:col-3">
                      <input type="text" pInputText [(ngModel)]="producto.pesoCalculado">                     
                    </div>
                </div>

                </p-fieldset>


                <br>
                <p-fieldset legend=" Medidas del producto" >
                  <div class="grid p-fluid">
                      <div class="col-12 md:col-3">
                        Und. Longitud:
                      </div>
                      
                      <div class="col-12 md:col-3">
                        Ancho :	
                      </div>
                              
                      <div class="col-12 md:col-3">
                        Largo :	
                      </div>

                      
                      <div class="col-12 md:col-3">
                        Espesor :
                      </div>
                  </div>

                  <div class="grid p-fluid">
                    <div class="col-12 md:col-3">
                      <p-dropdown [options]="tipoMedidas" [(ngModel)]="producto.tipoMedida" placeholder="Seleccione una unidad de medida"  (onChange)="crearProducto()"
                           optionValue="code" optionLabel="name" [showClear]="true"></p-dropdown>
                    </div>
                    
                    <div class="col-12 md:col-3">
                      <div class="p-inputgroup">
                        <input type="text" pInputText  [(ngModel)]="producto.ancho" *ngIf="producto.tipoMedida == 'CM'"  (input)="calcularAnchoCm()" >
                        <input type="text" pInputText  [(ngModel)]="producto.anchoPulgada" *ngIf="producto.tipoMedida == 'PU'" (input)="calcularAnchoPulg()">
                        <input type="text" pInputText  [(ngModel)]="producto.anchoMilimetro" *ngIf="producto.tipoMedida == 'MM'" (input)="calcularAnchoMm()">  
                        <span class="p-inputgroup-addon">{{producto.tipoMedida}}.</span>      
                      </div> 
                    </div>
                            
                    <div class="col-12 md:col-3">
                      <div class="p-inputgroup">
                        <input type="text" pInputText  [(ngModel)]="producto.largo" *ngIf="producto.tipoMedida == 'CM'"  (input)="calcularLargoCm()" >
                        <input type="text" pInputText  [(ngModel)]="producto.largoPulgada" *ngIf="producto.tipoMedida == 'PU'" (input)="calcularLargoPulg()">
                        <input type="text" pInputText  [(ngModel)]="producto.largoMilimetro" *ngIf="producto.tipoMedida == 'MM'" (input)="calcularLargoMm()">  
                        <span class="p-inputgroup-addon">{{producto.tipoMedida}}.</span>      
                      </div>
                    </div>

                    
                    <div class="col-12 md:col-3">
                      <div>
                        <input type="text" pInputText  [(ngModel)]="producto.espesor"  (input)="changeEspesorProducto()" style="width: 35%;">
                        <p-dropdown [options]="tipoMedidasEspesor" [(ngModel)]="producto.tipoMedidaEspesor" placeholder="Seleccione unidad de medida" (onChange)="changeEspesorProducto()"
                           optionValue="code" optionLabel="name" [showClear]="true" [style]="{'width':'65%', 'float': 'right'}" ></p-dropdown>
                      </div>
                    </div>
                </div>

                    <div class="grid p-fluid">
                      <div class="col-12 md:col-3">
                        Ancho Des:
                      </div>
                      
                      <div class="col-12 md:col-3">
                        Largo Des:
                      </div>
                              
                      <div class="col-12 md:col-3">
                        Ancho Util Sustrato:
                      </div>

                      
                      <div class="col-12 md:col-3">
                        Forma Sustrato Des :
                      </div>
                  </div>

                      <div class="grid p-fluid">
                        <div class="col-12 md:col-3">
                          <div class="p-inputgroup">
                              <input type="text" pInputText  [(ngModel)]="producto.anchoDesarrollo"   (input)="calcularPeso()" >  
                              <span class="p-inputgroup-addon">MM</span>        
                          </div> 
                          
                        </div>
                        
                        <div class="col-12 md:col-3">
                          <div class="p-inputgroup">
                            <input type="text" pInputText  [(ngModel)]="producto.largoDesarrollo"   (input)="calcularPeso()" >  
                            <span class="p-inputgroup-addon">MM</span>      
                          </div> 
                        </div>
                                
                        <div class="col-12 md:col-3">
                          <div class="p-inputgroup">
                            <input type="text" pInputText  [(ngModel)]="producto.anchoUtilDesarrollo"    >  
                            <span class="p-inputgroup-addon">MM</span>      
                          </div>
                        </div>

                        
                        <div class="col-12 md:col-3">
                          <p-dropdown [options]="formatosSustrato" [(ngModel)]="producto.formaSustratoDesarrollo" placeholder="Seleccione un formato" 
                              optionValue="code" optionLabel="name" [showClear]="true" [style]="{'width':'100%', 'float': 'right'}" ></p-dropdown>
                        </div>
                    </div>
                    <span style="color: blueviolet;">(*) Considerar el Producto como Lámina abierta</span>
                </p-fieldset>


                <br>
                <p-fieldset legend=" Desarrollo Impresión/Laminado" >
                  <div class="grid p-fluid">
                      <div class="col-12 md:col-4">
                        Nro Bandas:	
                      </div>
                      
                      <div class="col-12 md:col-4">
                        Ancho Banda :	
                      </div>
                              
                      <div class="col-12 md:col-4">
                        Ancho Imp/Lam:		
                      </div>

                  </div>

                      <div class="grid p-fluid">
                        <div class="col-12 md:col-4">
                          <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                              decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" 
                              decrementButtonIcon="pi pi-minus"  [(ngModel)]="producto.numeroBandas" (onInput)="calcularAnchoFrecuenciaImpresion('A')" >
                          </p-inputNumber>
                          
                        </div>
                        
                        <div class="col-12 md:col-4">
                          <div class="p-inputgroup">
                            <input type="text" pInputText  [(ngModel)]="producto.anchoBandaImpresion"   (input)="calcularAnchoFrecuenciaImpresion('A')" >  
                            <span class="p-inputgroup-addon">MM</span>      
                          </div> 
                        </div>
                                
                        <div class="col-12 md:col-4">
                          <div class="p-inputgroup">
                            <input type="text" pInputText  [(ngModel)]="producto.anchoImpresion"  [disabled]="true">   
                            <span class="p-inputgroup-addon">MM</span>      
                          </div>
                        </div>

                   
                    </div>

                    <div class="grid p-fluid">
                     
                      <div class="col-12 md:col-4">
                        Nro Repet.:
                      </div>

                      <div class="col-12 md:col-4">
                        Largo Repet. :		
                      </div>

                      
                      <div class="col-12 md:col-4">
                        Frec. Imp/Lam.:
                      </div>
                  </div>

                      <div class="grid p-fluid">
                        
                        <div class="col-12 md:col-4">
                          <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1" [min]="1" [max]="20"
                              decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" 
                              decrementButtonIcon="pi pi-minus"  [(ngModel)]="producto.numeroRepeticiones" (onInput)="calcularAnchoFrecuenciaImpresion('F')" >
                          </p-inputNumber>
                        </div>
                        
                        <div class="col-12 md:col-4">
                            <div class="p-inputgroup">
                              <input type="text" pInputText  [(ngModel)]="producto.largoRepeticionImpresion"   (input)="calcularAnchoFrecuenciaImpresion('F')" >  
                              <span class="p-inputgroup-addon">MM</span>      
                            </div> 
                        </div>
                        
                        <div class="col-12 md:col-4">
                            <div class="p-inputgroup">
                              <input type="text" pInputText  [(ngModel)]="producto.frecuenciaImpresion"  [disabled]="true">   
                              <span class="p-inputgroup-addon">MM</span>
                            </div>
                        </div>
                    </div>



                    <div class="grid p-fluid">
                      <div class="col-12 md:col-1">
                        Impresion:	
                      </div>
                      <div class="col-12 md:col-11">
                        Texto Referencia:	
                      </div>
                    </div>
                    <div class="grid p-fluid">
                      <div class="col-12 md:col-1">
                        <p-inputSwitch  [(ngModel)]="producto.impresion" trueValue="S" falseValue="N"
                        (onChange)="changeImpresion()"></p-inputSwitch>	
                      </div>
                      <div class="col-12 md:col-11">
                        <input type="text" pInputText  [(ngModel)]="producto.textoImpresion"   (input)="crearProducto()" 
                               [disabled]="producto.impresion=='N'"> 
                      </div>
                    </div>
                    
                    <div class="grid p-fluid">
                      <div class="col-12 md:col-4">
                        Tipo Impresion:	
                      </div>
                      <div class="col-12 md:col-4">
                        Nro de Colores:	
                      </div>
                      <div class="col-12 md:col-4">
                        Nro de Cilindros:	
                      </div>
                    </div>



                    <div class="grid p-fluid">
                      <div class="col-12 md:col-4">
                        <p-dropdown [options]="tiposImpresion" [(ngModel)]="producto.tipoImpresion" placeholder="Seleccione un tipo de impresion" 
                              optionValue="code" optionLabel="name" [showClear]="true" 
                              [disabled]="producto.impresion=='N'" [style]="{'width':'100%', 'float': 'right'}" ></p-dropdown>
                      </div>
                      
                      
                      <div class="col-12 md:col-4">
                          <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"  [min]="1" [max]="10"
                              decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" 
                              decrementButtonIcon="pi pi-minus"  [disabled]="producto.impresion=='N'"
                              [(ngModel)]="producto.numeroColores"  >
                          </p-inputNumber>
                      </div>

                      <div class="col-12 md:col-4">
                        <div class="p-inputgroup">
                          <p-dropdown [options]="numerosCilindro" [(ngModel)]="producto.numeroCilindro" placeholder="Seleccione un numero de cilindro" 
                              optionValue="code" optionLabel="name" [showClear]="true"
                              [disabled]="producto.impresion=='N'" [style]="{'width':'100%', 'float': 'right'}" ></p-dropdown> 
                        </div> 
                      </div>
                    </div>
                </p-fieldset>


                <br>
                <p-fieldset legend=" Datos Accesorios" >
                  <div class="grid p-fluid">
                      <div class="col-12 md:col-1">
                        Zipper:	
                      </div>
                      <div class="col-12 md:col-5">
                        Peso Válvula 1Und:
                      </div>
                      <div class="col-12 md:col-1">
                        Válvula:	
                      </div>
                      <div class="col-12 md:col-5">
                          Peso Zipper 1mL:		
                      </div>
                  </div>

                  <div class="grid p-fluid">
                    <div class="col-12 md:col-1">
                      <p-inputSwitch [(ngModel)]="producto.estadoZipper" (onChange)="changeZipper()" trueValue="S" falseValue="N"></p-inputSwitch>	
                    </div>
                    
                    <div class="col-12 md:col-5">
                      <div class="p-inputgroup">
                        <input type="text" pInputText  [(ngModel)]="producto.pesoZipperUnd"  [disabled]="producto.estadoZipper=='N'"  (input)="calcularPesoAdicional()"> 
                        <span class="p-inputgroup-addon">GR</span>      
                      </div> 
                    </div>
                    
                    <div class="col-12 md:col-1">
                      <p-inputSwitch [(ngModel)]="producto.estadoValvula" (onChange)="changeValvula()" trueValue="S" falseValue="N"></p-inputSwitch>	
                    </div>

                    
                    <div class="col-12 md:col-5">
                      <div class="p-inputgroup">
                        <input type="text" pInputText  [(ngModel)]="producto.pesoValvulaUnd"  [disabled]="producto.estadoValvula=='N'" (input)="calcularPesoAdicional()"  >  
                        <span class="p-inputgroup-addon">GR</span>      
                      </div> 
                    </div>
                  </div>
                </p-fieldset>

                <br>
                <p-fieldset legend=" Estructura del Producto" >
                  <div class="grid p-fluid">
                      <div class="col-12 md:col-4">
                        Peso x Millar:	
                      </div>
                      
                      <div class="col-12 md:col-4">
                        Peso x MillarAd:	
                      </div>
                              
                      <div class="col-12 md:col-4">
                        Peso x MillarTotal:		
                      </div>

                      
                  </div>

                  <div class="grid p-fluid">
                    <div class="col-12 md:col-4">
                      <div class="p-inputgroup">
                        <input type="text" pInputText  [(ngModel)]="producto.pesoCalculado"  [disabled]="true" > 
                        <span class="p-inputgroup-addon">KG</span>      
                      </div> 	
                    </div>
                    
                    <div class="col-12 md:col-4">
                      <div class="p-inputgroup">
                        <input type="text" pInputText  [(ngModel)]="producto.pesoCalculadoAdicional"  [disabled]="true" > 
                        <span class="p-inputgroup-addon">KG</span>      
                      </div> 		
                    </div>
                            
                    <div class="col-12 md:col-4">
                      <div class="p-inputgroup">
                        <input type="text" pInputText  [(ngModel)]="producto.pesoCalculado + producto.pesoCalculadoAdicional"  [disabled]="true" > 
                        <span class="p-inputgroup-addon">KG</span>      
                      </div> 		
                    </div>

                    
                </div>

                <div class="grid p-fluid">
                 
                  <div class="col-12 md:col-3">
                    Tipo Producto:
                  </div>

                  <div class="col-12 md:col-3">
                    Estructura :
                  </div>
                  <div class="col-12 md:col-3">
                    Gramaje Total:
                  </div>
                  <div class="col-12 md:col-3">
                    Ancho Util Des:
                  </div>
              </div>

              <div class="grid p-fluid">
               
                
                <div class="col-12 md:col-3">
                  <p-dropdown [options]="parametrosGenerals" [(ngModel)]="producto.parametroEstadoGeneralCotizacion" optionLabel="descripcion" (onChange)="mostrarConfiguracionCotizacion()"
                      [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione un tipo de producto">
                      <ng-template pTemplate="selectedItem">
                          <div class="country-item country-item-value"  *ngIf="producto.parametroEstadoGeneralCotizacion">
                              <div>{{producto.parametroEstadoGeneralCotizacion.descripcion}}</div>
                          </div>
                      </ng-template>
                      <ng-template let-parametro pTemplate="item">
                          <div class="parametro-item">
                              <div>{{parametro.descripcion}}</div>
                          </div>
                      </ng-template>
                  </p-dropdown>

                </div>

                <div class="col-12 md:col-3">
                  <p-dropdown [options]="configuracionCotizaciones" [(ngModel)]="producto.configuracionCotizacion" optionLabel="descripcion" (onChange)="crearEstructuraProducto()"
                    [filter]="true" filterBy="descripcion" [showClear]="true" placeholder="Seleccione la estructura">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value"  *ngIf="producto.configuracionCotizacion">
                            <div>{{producto.configuracionCotizacion.descripcion}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-configuracion pTemplate="item">
                        <div class="configuracion-item">
                            <div>{{configuracion.descripcion}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                </div>
                <div class="col-12 md:col-3">
                  <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="producto.espesorGramoMt2" >  
                    <span class="p-inputgroup-addon">GR/M2</span>      
                  </div>
                </div>
                <div class="col-12 md:col-3">
                  <div class="p-inputgroup">
                    <input type="text" pInputText [(ngModel)]="producto.anchoUtilDesarrollo" >  
                    <span class="p-inputgroup-addon">MM</span>      
                  </div>
                </div>
            </div>

                <p-table responsiveLayout="scroll" >
                      <ng-template pTemplate="header">
                          <tr>
                              <th>Ord</th>
                              <th>Capas</th>
                              <th>Dens. (gr/cm3)</th>
                              <th>Esp. (Mil/pulg)</th>
                              <th>Esp. (µ)</th>
                              <th>Gramaje (gr/m2)	</th>
                              <th>Porc. %	Ancho (mm)</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No se encontraron registros.</td>
                        </tr>
                    </ng-template>
                  </p-table>
                </p-fieldset>
            </p-tabPanel>
            <p-tabPanel header="Header II">
                <ng-template pTemplate = "header">
                    <i class="pi pi-fw pi-file"></i>
                    <span>Lista de Cotizaciones</span>
                </ng-template>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
            </p-tabPanel>
        </p-tabView>
    </div>

</div>

